extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    .navlink
      a(href="/logout") Log out
    .navlink
      a#addChar(href="#") +
    
  section#chars
    if !chars || chars.length == 0
      div.char
        h3.emptyChar You have no characters yet!
        p.emptyChar Click the + in the top left to create one!
    else
      each val in chars
        div.char
          h3.charName Name: #{val.name}
          .col1-2.Left
            h3.charStat Str: #{val.strength}
            h3.charStat Dex: #{val.dexterity}
            h3.charStat Con: #{val.constitution}
          .col1-2.Right
            h3.charStat Int: #{val.intelligence}
            h3.charStat Wis: #{val.wisdom}
            h3.charStat Cha: #{val.charisma}
          a#deleteChar(href="#") Delete
    
  section#makeChar
    form#charForm(class="charForm", name="charForm", action="/charSelect", method="POST")
      input#charName(type="text", name="name", placeholder="Char Name")
      .col1-2.Left
        .charStat
          label(for="strength") Str
          input#charStr(type="number", name="strength", value="")
        .charStat
          label(for="dexterity") Dex
          input#charDex(type="number", name="dexterity",  value="")
        .charStat
          label(for="constitution") Con
          input#charCon(type="number", name="constitution", value="")
      .col1-2.Right
        .charStat
          label(for="intelligence") Int
          input#charInt(type="number", name="intelligence", value="")
        .charStat
          label(for="wisdom") Wis
          input#charWis(type="number", name="wisdom", value="")
        .charStat
          label(for="charisma") Cha
          input#charCha(type="number", name="charisma", value="")
      a#cancelCharSubmit(class="cancelCharSubmit", href="#") Cancel
      a#makeCharSubmit(class="makeCharSubmit", href="#") Save
    
block scripts
        script(src="/assets/maker.js")